.structure {
  max-width: 550px;
  border: 5px solid #971682;
  padding: 30px;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

body {
  font-family: "Baloo Bhai", cursive;
}

h1 {
  color: #78e41f;
  font-size: 32px;
  text-align: center;
}

h2 {
  color: #971682;
  font-size: 28px;
  text-align: center;
}

.MainWeather {
  width: 150px;
  padding-top: 0;
  display: block;
  margin: 0 auto;
}

#current-temperature-value {
  width: 130px;
  display: block;
  margin: 0 auto;
  font-size: 48px;
  font-weight: 700;
  color: #971682;
  text-align: center;
}

#celsius-convert-link,
#fahrenheit-convert-link,
#current-divider-bar {
  font-size: 30px;
}

.weather-caption {
  text-align: center;
  font-size: 20px;
  text-transform: capitalize;
}

.windImg {
  width: 50px;
  padding: 22px 0;
  display: block;
  margin: 0 auto;
}

.humidityImg {
  width: 50px;
  padding: 22px 0;
  display: block;
  margin: 0 auto;
}

#wind,
#humidity {
  font-size: 24px;
}

.MaxMin {
  text-align: center;
}

.maximum-temp {
  font-size: 32px;
  font-weight: 500;
  color: #e740bd;
  text-align: center;
}

.max-min-divider-bar {
  font-size: 32px;
}
.minimum-temp {
  font-size: 32px;
  font-weight: 500;
  color: #1da2ca;
  text-align: center;
}
.weatherPredictionGrid {
  width: 500px;
  align-content: center;
  text-align: center;
}
.card {
  padding: 5px;
  border: 0;
}
.weather-image-prediction {
  width: 60px;
  display: block;
  margin: 0 auto;
}

.creatorLink {
  margin-top: 10px;
  text-align: center;
}
