.structure {
  max-width: 550px;
  border: 5px solid #971682;
  padding: 30px;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  align-content: center;
}

body {
  font-family: "Baloo Bhai", cursive;
}

h1 {
  color: #78e41f;
  font-size: 32px;
  text-align: center;
}

h2 {
  color: #971682;
  font-size: 28px;
  text-align: center;
}

#dayAndTime {
  color: #450f55;
  font-size: 20px;
  text-align: center;
}

.mainWeatherIcon {
  width: 150px;
  padding: 0;
  display: block;
  margin: 0 auto;
  max-height: fit-content;
}

.weather-caption {
  text-align: center;
  font-size: 20px;
  text-transform: capitalize;
}

.windImg,
.humidityImg {
  width: 50px;
  padding: 22px 0 0 0;
  display: block;
  margin: 0 auto;
}

#wind,
#humidity {
  font-size: 24px;
}

#current-temperature-value {
  font-size: 48px;
  font-weight: 700;
  color: #971682;
  text-align: right;
  margin: 0;
}

.currentTemperature .active {
  color: #000000;
  cursor: default;
}

.currentTemperature .active:hover {
  text-decoration: none;
}

.units {
  text-align: left;
}

#celsius-convert-link,
#fahrenheit-convert-link,
#current-divider-bar {
  font-size: 30px;
}

.maxMin {
  text-align: center;
  display: block;
  margin: 0 auto;
}

.maximum-temp {
  font-size: 32px;
  font-weight: 500;
  color: #e740bd;
  text-align: center;
}

.max-min-divider-bar {
  font-size: 32px;
}
.minimum-temp {
  font-size: 32px;
  font-weight: 500;
  color: #1da2ca;
  text-align: center;
}

#forecast {
  text-align: center;
  color: #450f55;
}

.forecastImg {
  width: 70px;
  display: block;
  margin: 0 auto;
}

.creatorLink {
  margin-top: 10px;
  text-align: center;
}
